{% extends "base.html" %}
{% block title %}ZHNG - Shipping Page{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Shipping Page</h1>

<form method="POST" action="">
  <input type="reset" value="Reset Fields" class="btn btn-danger"/>
  <br>
  <br>
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.emailaddress, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.unitno, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.contact, class="form-control") }}
  </div>
  <br>
  <div>
    {{ render_field(form.checkbox) }}
  </div>
  <br>
  <input type="submit" value="Proceed to Checkout" class="btn btn-success"/>
  <br>
  <br>
  <p class="lead">
    <a class="btn btn-secondary" href="/Cart" role="button">Back to Cart</a>
  </p>
</form>
{% endblock %}
