{% extends "base.html" %}

{% block title %}ZHNG - SearchAppt{% endblock %}

{% block content %}
<h1>Search Appointments</h1>
<div>
    {% if count == 0 %}
    <p>There are no appointments</p>
    {% elif count == 1 %}
    <p>There is 1 appointment</p>
    {% else %}
    <p>There are {{ count }} appointments</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Time</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remarks</th>
        </tr>
        </thead>
        <tbody>
        {% for Appointment in appt_list %}
        <tr>
            <td>{{ Appointment.get_appt_id() }}</td>
            <td>{{ Appointment.get_first_name() }} {{ Appointment.get_last_name() }}</td>
            <td>{{ Appointment.get_username() }}</td>
            <td>{{ Appointment.get_email() }}</td>
            <td>{{ Appointment.get_time() }}</td>
            <td>{{ Appointment.get_date() }}</td>
            <td>{{ Appointment.get_location() }}</td>
            <td>{{ Appointment.get_remarks() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
